name: Build and Release

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: windows-latest

        permissions:
            contents: write

        defaults:
            run:
                working-directory: ./desktop-app

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: v22.17.0
                  cache: "npm"
                  cache-dependency-path: ./desktop-app/package-lock.json

            - name: Install Dependencies
              run: npm ci

            - name: Build and Publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npm run build && npx electron-builder --win --publish always
